body{
	font-family: Consolas;
	font-weight: 400;
	overflow-y: auto;
	margin: 0;
	overflow-x: hidden;
	background: #1e1e1e;
}

input{
	outline: none;
}

#downarrow{
	position: absolute;
	bottom: 5px;
	width: 75px;
	margin-left: -35px;
}

#content-div{
	display: none;
}

#aboutme{
	position: relative;
	width: 100%;
	margin-top: 0;
	z-index: 50;
}

#portfolio{
	width: 100%;
	position: relative;
	z-index: 30;
}

#skills{
	width: 100%;
	position: relative;
	z-index: 25;
}


#portfolio-table{
	width: 100%;
	height: 551px;
	padding-bottom: 1.5em;
}


#portfolio-table td{
	position: relative;
	width: 25%;
	color: white;
	font-weight: bold;
	z-index: 47;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 0;
	-webkit-transition:  all 1s;
    -moz-transition:  all 1s;
    -o-transition:  all 1s;
    transition:  all 1s;
}

#portfolio-table p{
	display:none;
	bottom: 0;
	margin-left: -1em;
	padding: 0.375em;
	left: 1.5em;
}

#onp{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/onp.jpg");
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#onp p{
	position:absolute;
}

#onpuser{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/onpuser.jpg");
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#onpuser p{
	position:absolute;
}

#ebid{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/ebid.jpg");
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ebid p{
	position:absolute;
}

#carpool{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/carpool.jpg");
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#carpool p{
	position:absolute;
}

.animate-onp{
	animation: slide1 90s linear infinite;
}

.animate-onpuser{
	animation: slide2 90s linear infinite;
}

.animate-ebid{
	animation: slide3 90s linear infinite;
}

.animate-carpool{
	animation: slide4 90s linear infinite;
}

@keyframes slide1{
	0%{
		background-position: 0% 0%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 0%;
	}
}

@keyframes slide2{
	0%{
		background-position: 100% 50%;
	}
	50%{
		background-position: 0% 0%;
	}
	100%{
		background-position: 100% 50%;
	}
}

@keyframes slide3{
	0%{
		background-position: 100% 0%;
	}
	50%{
		background-position: 0% 25%;
	}
	100%{
		background-position: 100% 0%;
	}
}

@keyframes slide4{
	0%{
		background-position: 0% 100%;
	}
	50%{
		background-position: 100% 0%;
	}
	100%{
		background-position: 0% 100%;
	}
}

.onpClicked{
	cursor: default!important;
	background-image: url("../imgs/g1.jpg")!important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

.onpuserClicked{
	cursor: default!important;
	background-image: url("../imgs/g2.jpg")!important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

.ebidClicked{
	cursor: default!important;
	background-image: url("../imgs/g3.jpg")!important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

.carpoolClicked{
	cursor: default!important;
	background-image: url("../imgs/g4.jpg")!important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

#aboutmetitle{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #607D8B;
}

#aboutmetitle div {
	padding: 0 1.5em 1em 1.5em;
}

#aboutmetitle h1{
	padding-left: 1em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	color: #f5f5f5;
}

#aboutmetitle h2{
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	color: #f5f5f5;
	text-align: center;
}

#aboutmetitle h3{
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	color: #f5f5f5;
	text-align: center;
}

#aboutmetext{
	position: absolute;
	top: 0;
	z-index: 49;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #f5f5f5;
}

#aboutmetext div{
	padding: 1.5em 3em 3em 3em;
}

#aboutmetext p{
	color: black;
}

#portfoliotitle{
	top: 0;
	position: absolute;
	z-index: 35;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #546E7A;
}

#portfoliotitle h1{
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	color: #f5f5f5;
	padding-left: 1em;
	padding-top: 0.75em;
	margin-top: 0;
}
	
	
#skillstitle{
	position: absolute;
	top: 0;
	z-index: 25;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #455A64;
}

#skillstitle div{
	padding: 0 1.5em 1.5em 1.5em;
}

#skillstitle p{
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	color: #f5f5f5;
}

#skillstitle h1{
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	color: #f5f5f5;
	padding-left: 0.75em;
	margin-top: 0;
	padding-top: 0.75em;
}

#skillstext{
	top: 0;
	position: absolute;
	z-index: 20;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #f5f5f5;
	padding-bottom: 1.25em;
}

#skillstext div{
	padding: 0.75em 2em 0 2em;
}

#skillstext table{
	color: black;
	padding: 0 1.75em 1.5em 1.75em;
}

.s1{
	margin: 0 1em;
	visibility: hidden;
}

#secondary-title{
	z-index: 1;
	font-family: Consolas;
	font-weight: 400;
	display: inline-block;
	color: #f5f5f5;
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
}

#blur{
	z-index:-999999;
	top: 0;
	left: 0;
	margin-top: -0.75em;
	margin-left: -0.75em;
	padding-right: 0.75em;
	padding-bottom: 0.75em;
	margin-bottom: 0;
	position: absolute;
	background: #212121;
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}

/*.blurbackup{
	background: url(../imgs/bg.gif);
}*/

#header-div table{
	z-index: 3;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#header-title{
	z-index: 1;
	font-family: Consolas;
	font-weight: 400;
	margin-top: 13%;
	margin-bottom: 10px;
	display: none;
	color: #f5f5f5;
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
}

/*#header-items{
	width: 100%;
	color: #f5f5f5;
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	text-align: center;
}*/

#closeportfolio{
	z-index: 20;
	transition: all 0.3s;
	opacity: 0.5;
}

#closeportfolio:hover{
	transition: opacity 0.3s ease;
	opacity: 1;
}

#skills-table{
	float: left;
	padding-bottom: 1.5em;
}

#navbar-custom{
	z-index: 4;
	margin-top: -5%;
	display:none;
}

.header-btn{
	display: inline-block;
	z-index: 5;
	margin: 1em;
	transition: background-color 0.3s ease;
	font-family: Consolas;
	font-weight: 400;
	color: #f5f5f5;
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	padding: 1em 1.25em 1em 1.25em;
	background-color: transparent;
	border: 4px solid #f5f5f5;
	min-width: 8em;
}

.header-btn:hover{
	cursor: pointer;
	transition: background-color 0.5s ease;
	background-color: #607D8B;
}

.header-btn:active:after{
	transition: background-color 0.5s ease;
	background-color: #f5f5f5;
}

.pl-div{
	font-weight: bold;
	border-radius: 2px;
	float: left;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-shadow: #212121 1px 1px 0, black 1px 1px 0.5px;
	padding: 0.375em!important;
	color: #f5f5f5;
	margin-left: 0.75em;
	width: 0;
	visibility: hidden;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition:  width 1s;
    -moz-transition:  width 1s;
    -o-transition:  width 1s;
    transition:  width 1s;
}

.pl-div div{
	padding-left: 0!important;
	margin-left: 0!important;
	visibility: hidden;
	display: inline;
}

.img-title{
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	position:absolute;
	top: 10px;
	left: 25px;
	width: 25%;
}

.rounded{
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
}

.skill-ball{
	float: left;
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
	color: white;
	font-weight: bold;
	position: relative;
}

/*.tdSkill{
	font-size: 1.25em;
	width: 25%;
	position: relative;
}

.software{
	color: white;
	font-weight: bold;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
}

.portfolio-cell-mobile{
	width: 50%;
	height: 50%;
}*/

.downarrow-mobile{
	width: 50px!important;
	margin-left: -25px!important;
}
/*
@media screen and (max-width: 499px) {
	h1{
		font-size: 1.5em;
	}
	
	#aboutmetitle h2{
		font-size: 1.25em;
	}
	
	#aboutmetitle h3{
		font-size: 0.8em;
	}
	
	#aboutmetext h3{
		font-size: 1.1em;
	}
	
	#skillstext h3{
		font-size: 1.1em;
	}
	
	p{
		font-size: 0.875em;
	}
	
	#skills-table span{
		font-size: 0.875em;
	}
	
	#secondary-title{
		font-size: 0.75em;
	}
	
	.header-btn{
		font-size: 1.25em;
		padding: 1.75em 1em 1.75em 1em;
		border: 3px solid #f5f5f5;
		display: block;
		width: 100%;
		margin: -3px 0 0 0;
	}
	
	.img-title{
		font-size: 1.25em;
	}
	
	.pl-div{
		font-size: 0.5em;
	}
	
}

@media screen and (min-width: 500px) and (max-width: 767px) {
	h1{
		font-size: 2.25em;
	}
	
	#aboutmetitle h2{
		font-size: 2.25em;
	}
	
	#aboutmetitle h3{
		font-size: 1.25em;
	}
	
	#aboutmetext h3{
		font-size: 1.3em;
	}
	
	#skillstext h3{
		font-size: 1.3em;
	}
	
	p{
		font-size: 1.15em;
	}
	
	#skills-table span{
		font-size: 1em;
	}
	
	.header-btn{
		font-size: 1.25em;
		padding: 1.75em 1em 1.75em 1em;
		display: block;
		width: 100%;
		margin: -4px 0 0 0;
	}

	#secondary-title{
		font-size: 1em;
	}
	
	.img-title{
		font-size: 1.5em;
	}
	
	.pl-div{
		font-size: 0.6em;
	}
}*/
@media screen and (max-width: 767px){
	h1{
		padding-top: 0.75em;
	}
	
	#header-title{
		font-size: 1.75em;
	}
	
	#secondary-title{
		font-size: 1em;
	}
	
	#aboutmetitle{
		margin-top: -1.25em;
		width: 100%;
		top: 0;
 		position: relative;
	}
	#portfoliotitle{
		width: 100%;
		left: 0;
		position: relative;
	}
	#skillstitle{
		width: 100%;
		top: 0;
		position: relative;
	}
	#aboutmetext{
		width: 100%;
		top: 0;
		position: relative;
	}
	#skillstext{
		width: 100%;
		top: 0;
		position: relative;
	}
	
	#skillstext table{
	padding: 0 1.5em 1.5em 1.5em;
	}
	
	#portfolio-table p{
		font-size: 0.6em;
	}
	
	.pl-div{
		font-size: 0.6em;
	}
	
	.skills-table span{
		font-size: 0.75em;
	}
	
	.technologies{
		width: 0.75em;
		height: 3.75em;
		margin: 0.4em;
		margin-left: 0.2em;
		font-size: 1.125em;
	}

	.software{
		width: 0.75em;
		height: 3.75em;
		margin: 0.4em;
		margin-left: 0.2em;
		font-size: 1.125em;
	}
}
@media screen and (min-width: 768px){
	#skillstitle{
		width: 35%;
	}
	
	#skillstext{
		width: 65%;
		right: 0;
	}
	
	#aboutmetitle{
		width: 37%;
	}
	
	#aboutmetext{
		width: 63%;
		right: 0;
		margin-bottom: 0;
	}
	
	#portfoliotitle{
		width: 100%;
		right: 0;
	}
	
	.img-title{
		font-size: 1.5em;
	}
	
	#onp:hover{
		cursor: pointer;
		background: url("../imgs/g1.jpg");
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	#onpuser:hover{
		cursor: pointer;
		background: url("../imgs/g2.jpg");
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	#ebid:hover{
		cursor: pointer;
		background: url("../imgs/g3.jpg");
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	#carpool:hover{
		cursor: pointer;
		background: url("../imgs/g4.jpg");
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		-o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
}

@media screen and (min-width: 768px) and (max-width:1023px) {
	h1{
		font-size: 2em;
	}
	
	#aboutmetext h3{
		font-size: 1.25em;
	}
	
	#skillstext h3{
		font-size: 1.25em;
	}
	
	#aboutmetitle h2{
		font-size: 1.625em;
	}
	
	#aboutmetitle h3{
		font-size: 0.85em;
	}
	
	#header-title{
		font-size: 2.5em;
	}
	
	#secondary-title{
		font-size: 1.25em;
	}
	
	.header-btn{
		font-size: 1em;
	}
	
	.pl-div{
		font-size: 0.70em;
	}
	
	p{
		font-size: 0.875em;
	}
	
	#portfolio-table p{
		font-size: 0.875em;
	}
	
	.skills-table span{
		font-size: 0.875em;
	}
	
	.technologies{
		width: 0.75em;
		height: 3.75em;
		margin: 0.4em;
		margin-left: 0.2em;
		
	}

	.software{
		width: 1.25em;
		height: 4.25em;
		margin: 0.75em;
	}
}

@media screen and (min-width:1024px) {
	h1{
		font-size: 2.25em;
	}
	
	#aboutmetext h3{
		font-size: 1.5em;
	}
	
	#skillstext h3{
		font-size: 1.5em;
	}
	
	#aboutmetitle h2{
		font-size: 2.125em;
	}
	
	#aboutmetitle h3{
		font-size: 1.25em;
	}
	
	p{
		font-size: 1.15em;
	}
	
	.skills-table span{
		font-size: 1em;
	}
	
	.technologies{
		width: 1.5em;
		height: 4.5em;
		font-size: 1em;
		margin: 0.4em;
	}

	.software{
		width: 2.875em;
		height: 5.875em;
		font-size: 1.25em;
		margin: 0.75em;
	}
	
	#header-title{
		font-size: 3.5em;
	}
	
	.header-btn{
		font-size: 1.25em;
	}
	
	#secondary-title{
		font-size: 1.5em;
	}
	
	.img-title{
		font-size: 2em;
	}
	
	.pl-div{
		font-size: 0.85em;
	}
}

/*@media screen and (min-width:1280px) {
	h1{
		font-size: 2.5em;
	}
	
	#aboutmetitle h2{
		font-size: 2.25em;
	}
	
	#aboutmetitle h3{
		font-size: 1.25em;
	}
	
	.pl-div{
		font-size: 1em;
	}
}*/