body{
	font-family: Consolas;
	font-weight: 400;
	overflow-y: scroll;
	margin: 0;
	overflow-x: hidden;
	background: #f5f5f5;
}

td{
	
}

#content-div{
	display: none;
}

#aboutme{

}

#portfolio{
	width: 100%;
}

#portfoliotable{
	width: 100%;
}


#portfoliotable td{
	width: 25%;
	color: white;
	font-weight: bold;
	font-size: 1em;
	-webkit-transition:  all 1s;
    -moz-transition:  all 1s;
    -o-transition:  all 1s;
    transition:  all 1s;
}

#onp{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/onp.jpg");
	animation: slide1 90s linear infinite;
	-webkit-transition:  all 1s;
    -moz-transition:  all 1s;
    -o-transition:  all 1s;
    transition:  all 1s;
}

#onpuser{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/onpuser.jpg");
	animation: slide2 90s linear infinite;
	-webkit-transition:  all 1s;
    -moz-transition:  all 1s;
    -o-transition:  all 1s;
    transition:  all 1s;
}

#ebid{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/ebid.jpg");
	animation: slide3 90s linear infinite;
	-webkit-transition:  all 1s;
    -moz-transition:  all 1s;
    -o-transition:  all 1s;
    transition:  all 1s;
}

#carpool{
	height: 100%;
	width: 100%;
	background-image: url("../imgs/carpool.jpg");
	animation: slide4 90s linear infinite;
	-webkit-transition:  all 1s;
    -moz-transition:  all 1s;
    -o-transition:  all 1s;
    transition:  all 1s;
}

#onp:hover{
	cursor: pointer;
	background: url("../imgs/g1.jpg");
	transition: background 0.5s ease;
}

#onpuser:hover{
	cursor: pointer;
	background: url("../imgs/g2.jpg");
	transition: background 0.5s ease;
}

#ebid:hover{
	cursor: pointer;
	background: url("../imgs/g3.jpg");
	transition: background 0.5s ease;
}

#carpool:hover{
	cursor: pointer;
	background: url("../imgs/g4.jpg");
	transition: background 0.5s ease;
}

#portfolio table td p{
	padding: 0;
}
@keyframes slide1{
	0%{
		background-position: 0% 0%;
	}
	33%{
		background-position: 85% 12%;
	}
	67%{
		background-position: 25% 66%;
	}
	100%{
		background-position: 0% 0%;
	}
}

@keyframes slide2{
	0%{
		background-position: 85% 12%;
	}
	33%{
		background-position: 25% 66%;
	}
	67%{
		background-position: 0% 0%;
	}
	100%{
		background-position: 82% 12%;
	}
}

@keyframes slide3{
	0%{
		background-position: 25% 66%;
	}
	33%{
		background-position: 0% 0%;
	}
	67%{
		background-position: 85% 12%;
	}
	100%{
		background-position: 25% 66%;
	}
}

@keyframes slide4{
	0%{
		background-position: 0% 0%;
	}
	33%{
		background-position: 85% 12%;
	}
	67%{
		background-position: 25% 66%;
	}
	100%{
		background-position: 0% 0%;
	}
}

#skills{
	
}

#aboutmetitle{
	width: 100%;
	padding-bottom: 25px;
	background: #607D8B;
	float: left;
}

#aboutmetitle h1{
	color: #f5f5f5;
	font-size: 2em;
	padding-left: 25px;
}

#aboutmetitle h2{
	padding-left: 25px;
	padding-right: 25px;
	color: #f5f5f5;
	font-size: 1.5em;
	text-align: center;
}

#aboutmetitle h3{
	color: #f5f5f5;
	font-size: 1em;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

#aboutmetext{
	width: 100%;
	background: #f5f5f5;
	clear: both;
	float: left;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

#aboutmetext h3{
	padding-top: 25px;
	padding-left: 50px;
	
}

#aboutmetext p{
	color: black;
	font-size: 1.2em;
	padding-left: 50px;
	padding-right: 50px;
}

#portfoliotitle{
	width: 100%;
	padding-top: 20px;
	background: #546E7A;
	clear: none;
}

#portfoliotitle h1{
	color: #f5f5f5;
	font-size: 2em;
	padding-left: 25px;
	margin-top: 0;
}
	
	
#skillstitle{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #455A64;
	float: left;
	clear: both;
}

#skillstitle h1{
	color: #f5f5f5;
	font-size: 1.5em;
}

#skillstext{
	width: 100%;
	background: #f5f5f5;
	clear: both;
	float: left;
	padding-bottom: 25px;
}

#skillstext h3{
	padding-top: 25px;
	padding-left: 50px;
}

#skillstext p{
	color: black;
	font-size: 1.2em;
	padding-left: 50px;
	padding-right: 50px;
}

.s1{
	margin-right: 2em;
	visibility: hidden;
}

.s2{
	visibility: hidden;
}

.s3{
	margin-left: 2em;
	visibility: hidden;
}

.secondary-title{
	z-index: 1;
	font-family: Consolas;
	font-weight: 400;
	display: inline-block;
	font-size: 1.0em;
	color: #f5f5f5;
}

.blur{
	z-index:-999999;
	top: 0;
	left: 0;
	margin-top: -10px;
	margin-left: -10px;
	padding-right: 10px;
	padding-bottom: 10px;
	position: absolute;
	background: url(../imgs/bg.gif);
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}

.header-div table{
	z-index: 3;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.header-title{
	z-index: 1;
	font-family: Consolas;
	font-weight: 400;
	margin-top: 13%;
	margin-bottom: 10px;
	font-size: 2em;
	display: none;
	color: #f5f5f5;
}

.header-items{
	width: 100%;
	color: #f5f5f5;
	text-align: center;
}

@media only screen and (min-width: 1050px) {
	#aboutmetitle h1{
		font-size: 2.5em;
	}
	
	#aboutmetitle h2{
		font-size: 2em;
	}
		
	#aboutmetitle h3{
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 900px) {

	#aboutmetitle h3{
		font-size: 1em;
	}
	#portfolio table td{
		font-size: 2em;
	}
	
}
@media only screen and (max-width: 800px) {
	#aboutmetitle h2{
		font-size: 2em;
	}
	
	#portfolio table td{
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 500px) {
	#aboutmetitle h2{
		font-size: 1.5em;
	}
	
}

@media only screen and (max-width: 650px) {
	#portfolio table td{
		font-size: 1em;
	}	
}

@media only screen and (min-width: 800px) {
    .header-title{
		font-size: 3.5em;
	}
	
	.secondary-title{
		font-size: 1.5em;
	}
	
	.header-btn{
		font-size: 1.25em;
	}

	#skillstitle{
		width: 40%;
	}
	
	#skillstext{
		width: 60%;
		clear: none;
		float: right;
	}
	
	#aboutmetitle{
		width: 40%;
	}
	
	#aboutmetext{
		width: 60%;
		clear: none;
		float: right;
		margin-bottom: 0;
	}
	
	#portfoliotitle h1{
		
	}
	
	#portfolio table td{
		font-size: 2em;
	}
	
	#portfoliotitle{
		clear: both;
		float: right;
	}
}

#closeportfolio{
	z-index: 10;
	transition: all 0.3s;
	opacity: 0.5;
}

#closeportfolio:hover{
	transition: opacity 0.3s ease;
	opacity: 1;
}

.header-btn{
	display: inline-block;
	z-index: 5;
	margin: 1em;
	transition: background-color 0.3s ease;
	font-family: Consolas;
	font-weight: 400;
	color: #f5f5f5;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom:15px;
	background-color: transparent;
	border: 5px solid #f5f5f5;
	min-width: 8em;
}

.navbar-custom{
	z-index: 4;
	margin-top: -5%;
	display:none;
}

.header-btn:hover{
	cursor: pointer;
	transition: background-color 0.5s ease;
	background-color: #607D8B;
}



